.calculator {
  background: rgb(20, 158, 233);
  background: linear-gradient(90deg, rgba(20, 158, 233, 1) 0%, rgba(97, 190, 241, 1) 45%, rgba(97, 190, 241, 1) 55%, rgba(20, 158, 233, 1) 100%);
  padding: 1rem;
  color: #fff;
  border-radius: 5px;
  height: 100%;
  transition: 0.1s ease-in;
}

#calculatorsSection .calculator button:hover {
  /* box-shadow: 0px 3px 10px rgb(0 0 0 / 50%); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#calculatorsSection .calculator button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  color: #fff;
  background: rgba(63, 72, 204, 0.65);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s ease-in;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
}

.category {
  margin: 0 0.1rem;
  color: #388dfc;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.category:hover {
  color: #001ec7;
}

.active-category {
  background-color: #388dfc;
  color: #fff !important;
}

@media screen and (max-width: 992px) {
  .categories {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1400px) {
  #calculatorsSection .container {
    max-width: 1320px;
  }
}

@media screen and (min-width: 2000px) {
  #calculatorsSection .container {
    max-width: 80%;
  }

  .shadowCol {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}
