.footer{
    margin-right: 7%;
    font-size: 16px;
    text-align: center;
    padding: 0px;
}
.footer p{
    margin: 0%;
}
.footer a{
    text-decoration: none;
    /* margin-top: 5px; */
    color: #3F48CB;
    font-family: 'Courier';
}
.footer .icons{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
.footer p span{
    font-size: 3em;
    color: #000000;
}
.footer .deadlines{
    display: none;
}
@media screen and (max-width: 768px) {
    .footer p span{
        font-size: 2em;
    }
    .footer{
        margin: 0px;
        font-size: 16px;
    }
}